@model SchoolManagement_SIT326.Models.Models.StateModel
@{
    ViewBag.Title = "GetStateById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetStateById</h2>
@if(TempData["State"] != null)
            {
                <div class="alert alert-danger">@TempData["State"]</div>
            }
<table class="table">
    <tr>
        <th>StateName</th>
        <th>CountryName</th>
    </tr>
    <tr>
        <td>@Model.StateName</td>
        <td>@Model.CountryName</td>
    </tr>
</table>
