@model IEnumerable<StudentRegistration.Models.CityModel>

@{
    ViewBag.Title = "CityIndex";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@Html.Partial("CityDetail")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3 class="text-success">@TempData["success"]</h3>
        <h3 class="text-danger">@TempData["fail"]</h3>
    </div>
</body>
</html>


