@model StudentRegistration.Models.CountryModel

@{
    ViewBag.Title = "AddCountry";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="~/Content/Theme/css/Style1.css" />
</head>

<body>
    <div class="main">
        <form action="/Country/AddCountry" method="post">
            <h1><lable>ADD Country</lable> </h1>
            <div class="inset">
                <p>
                    <label for="Country">COUNTRY NAME</label>
                    @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "from-control", @placeholder = "Enter Country Name" } })
                    @Html.ValidationMessageFor(model => model.CountryName, "")
                </p>
            </div>

            <p class="p-container">
                <input type="submit" class="form-submit" value="Submit" />
            </p>
        </form>
        <br /><br />
        @Html.ActionLink("Back To List", "CountryIndex", "Country")
    </div>
</body>
</html>


