@model SchoolMgmt_System.Model.ViewModels.CountryModel

@{
    ViewData["Title"] = "AddEditCountry";
}

<h1>AddEditCountry</h1>

<h4>CountryModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEditCountry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="CoId" class="control-label"></label>*@
                <input asp-for="CoId" class="form-control" type="hidden" />
                <span asp-validation-for="CoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CountryList">Back to List</a>
</div>

